---
import ExperienceItem from "./ExperienceItem.astro"
import HtmlIcon from "../icons/HtmlIcon.astro"
import CssIcon from "../icons/CssIcon.astro"
import JavaScriptIcon from "../icons/JavaScriptIcon.astro"
import JavaIcon from "../icons/JavaIcon.astro"
import SpringbootIcon from "../icons/SpringbootIcon.astro"
import ThymeleafIcon from "../icons/ThymeleafIcon.astro"
import DockerIcon from "../icons/DockerIcon.astro"
import MySqlIcon from "../icons/MySqlIcon.astro"
import BootstrapIcon from "../icons/BootstrapIcon.astro"
import TailwindIcon from '../icons/TailwindIcon.astro'
import ReactIcon from '../icons/ReactIcon.astro'

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#003159] text-white",
    icon: HtmlIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CssIcon,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-[#003159] text-white",
    icon: JavaScriptIcon,
  },
  Java: {
    name: "Java",
    class: "bg-[#003159] text-white",
    icon: JavaIcon,
  },
  Springboot: {
    name: "Spring Boot",
    class: "bg-[#003159] text-white",
    icon: SpringbootIcon,
  },
  Thymeleaf: {
    name: "Thymeleaf",
    class: "bg-[#003159] text-white",
    icon: ThymeleafIcon,
  },
  Docker: {
    name: "Docker",
    class: "bg-[#003159] text-white",
    icon: DockerIcon,
  },
  MySql: {
    name: "MySql",
    class: "bg-[#003159] text-white",
    icon: MySqlIcon,
  },
  Bootstrap: {
    name: "Bootstrap",
    class: "bg-[#003159] text-white",
    icon: BootstrapIcon,
  },
  Tailwind: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  React: {
    name: "React.js",
    class: "bg-[#003159] text-white",
    icon: ReactIcon,
  },
}


const PROJECTS = [  
{
    title: "InmoApp",
    description: 'Proyecto realizado para que empresas inmobiliarias puedan publicar sus inmuebles. Esto les permite gestionar sus productos y publicitarlos de una manera amigable.',
    link: "http://200.58.107.39:5173/",
    github: "https://github.com/LucasCaro97/InmoApp_Front",
    image: "/proyects/inmoApp.png",
    tags: [TAGS.React, TAGS.Tailwind, TAGS.JavaScript, TAGS.Java, TAGS.Springboot, TAGS.MySql, TAGS.Docker],
  },
  {
    title: "E-commerce",
    description: 'Proyecto realizado para un emprendimiento que comercializa cosmeticos. Cuenta con login de administrador donde se pueden crear las categorias y productos que se visualizan en la seccion "Productos".',
    link: "http://200.58.107.39:9090/",
    github: "https://github.com/LucasCaro97/bzMakeUp",
    image: "/proyects/imgProyectoBzMakeUp.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScript, TAGS.Java, TAGS.Springboot, TAGS.MySql, TAGS.Bootstrap, TAGS.Docker],
  },
  {
    title: "Conversor de Divisas",
    description: `Este proyecto fue refactorizado para publicarlo en este portfolio. En un principio lo desarrolle en el bootcamp de alura latam utlizando Java y la biblioteca Java Swing. Y luego de aprender nuevas tecnologias pase 
    a transformalo a una aplicacion web utilizando Springboot para la api y React.js para el frontend. Ambas aplicaciones se encuentran corriendo en contenedores de docker en un servidor privado.`,
    link: "https://currency-converter-web-six.vercel.app/",
    github: "https://github.com/LucasCaro97/currency-converter-api",
    image: "/proyects/imgProyectoConvertidorDivisas.webp",
    tags: [TAGS.Springboot, TAGS.Java, TAGS.React, TAGS.JavaScript, TAGS.Tailwind, TAGS.MySql, TAGS.Docker]
  },
  {
    title: "Gestor de Pedidos",
    description: 'Proyecto desarrollado para una empresa que fabrica y comercializa productos artesanales con madera MDF. Es una app simple que se encarga de optimizar y agilizar el proceso del manejo de los pedidos, ya que este pasa por varios estados antes de llegar al cliente.',
    link: "http://89.117.32.209:8080/",
    github: "https://github.com/LucasCaro97/bzMakeUp",
    image: "/proyects/imgProyectoFibrolaser.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScript, TAGS.Java, TAGS.Springboot, TAGS.MySql, TAGS.Bootstrap],
  },
  {
    title: "Encriptador de texto",
    description: 'Este proyecto fue realizado como trabajo integrador del Bootcamp Oracle Next Education - Web Development By Alura. El cual encripta / desencripta cadenas de texto ingresadas por el usuario.',
    link: "https://lucascaro97.github.io/ChallengeEncriptadorTextoAlura/",
    github: "https://github.com/LucasCaro97/ChallengeEncriptadorTextoAlura",
    image: "/proyects/imgProyectoEncriptador.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScript],
  },
]
---

{
  PROJECTS.map(({ image, title, description, tags, link }) => (
    <article class="mb-8">
      <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-4 flex-wrap">
        {tags.map((tag) => (
          <li class="mb-2">
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <a href={link} target="_blank" rel="noopener noreferrer" class="relative inline-block">
        <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
        />

      </a>
    </article>
  ))
}

